<!DOCTYPE html>
<html lang="en">
<head th:replace="~{common/head}">

</head>
<body>

<div th:replace="~{common/header}">
   
</div>

<nav th:replace="~{common/nav}">

</nav>

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <span class="badge bg-primary rounded-pill" th:text="${board.id} + '번'"></span>
      <h5 class="card-title" th:text="${board.title}"></h5>
      <h6 class="card-subtitle mb-2 text-muted" th:text="${board.user.name}"></h6>
      <p class="card-text" th:text="${board.content}"></p>
    </div>
  </div>
</div> 
<div class="container mt-5">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link">좋아요</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/board" id="list">목록</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="update" th:num="${board.id}">수정</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="delete" th:num="${board.id}">삭제</a>
    </li>
  </ul>
</div>
<script>
  document.querySelector('#update').addEventListener('click', (e) => {
    e.preventDefault();
    if(confirm('수정하시겠습니까?')) {
      const num = e.target.getAttribute('num');
      location = `/board/update?id=${num}`;
    }
  });
  document.querySelector('#delete').addEventListener('click', (e) => {
    e.preventDefault();
    if(confirm('삭제하시겠습니까?')) {
      const num = e.target.getAttribute('num');
      location = `/board/delete?id=${num}`;
    }
  });
</script>

<div th:replace="~{common/footer}">
</div>

</body>
</html>